name: CI

on:
  push:
    branches:
      - "**"
  pull_request:
    branches:
      - "**"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          cache: npm
          node-version-file: .node-version

      - name: npm ci
        run: |
          npm ci
        env:
          CI: true

      - name: Run lint
        run: |
          npm run lint
        env:
          CI: true

      - name: Run build
        run: |
          npm run build
        env:
          CI: true
          ORIGIN: https://blog.odan.dev

      - name: Install Playwright Browsers
        run: npx playwright install --with-deps

      - name: Run e2e tests
        run: npm run test:e2e
        env:
          CI: true

      - uses: actions/upload-artifact@v7
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
